.main-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  height: 0; // for IE 11 - if no height, flex: 1 [...] on children fails

  app-search {
    flex: 0 0 auto;
  }
  .content {
    display: flex;
    // flex: 1; // for all except IE11
    flex: 1 1 auto; // for IE 11, no shortcut
  }
}
