@import '../../../styles/mixins';

.main-container {
  display: flex;
  min-height: 100%;
  // height: 0; // Hack for IE11, children flex 1 doesn't work without that ; but it's deactivated because it generates
  // other bugs...
  flex-direction: column;

  .applications {
    display: flex;
    flex: 1 0 auto;
    // justify-content: space-around;
    flex-direction: column;
    align-items: center;

    app-search {
      position: relative;
      width: 95%;
      max-width: 740px;
      align-content: center;
      margin-top: -33px;
    }

    .content {
      z-index: 10;
      max-width: 992px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex: 1 0 auto;
      justify-content: center;
      align-self: center;
      max-height: 440px;
      overflow: hidden;
      &.full {
        max-height: 5000px;
        transition: max-height 1s ease-in-out;
      }

      .tools {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        // flex: 1 1 auto; // fail for IE11
        width: 100%; // for IE11, replace flex 1
        padding-top: 50px;
        max-width: 760px;

        .tool {
          display: flex;
          flex: 0 0 150px;
          flex-direction: column;
          margin: 5px;
          text-align: center;
          height: 189px;
          color: #000;
          &.selected {
            .icon {
              background: #e4e4e4;
            }
          }

          .icon {
            flex: 0 0 75px;
            width: 75px;
            align-self: center;
            padding: 25px;
            box-sizing: content-box;
            background: #fff;
            border: 1px #dddddd solid;
          }
          .title {
            flex: 0;
          }
        }
      }
    }
  }
}

.header {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  background: #000;
  min-height: 200px;
  max-height: 300px;
  height: 50vw;
  flex-direction: column;

  p {
    & ~ p {
      font-family: 'Indie Flower', cursive;
      font-size: 2rem;
      color: #fff;

      @media screen and (max-width: 640px),
      print and (max-width: 640px) {
        font-size: 5vw;
      }

      > .bold {
        color: #ff992a;
      }
    }
    &.title {
      font-size: 6em;
      color: #ff992a;
      font-family: 'Happy', sans-serif;
      margin-bottom: 0;

      @media screen and (max-width: 793px),
      print and (max-width: 793px) {
        font-size: 12.1vw;
      }

      span.outline {
        color: #000;
        -webkit-text-stroke: 0.05em #ff992a;
      }
    }
  }
}

.authors-container {
  display: flex;
  justify-content: space-around;
  background: #191919 url('../../../assets/images/bg_footer.svg');
  background-size: cover;

  .content {
    display: flex;
    flex-direction: column;
    max-width: 992px;
    width: 100%;
    align-items: center;
    p {
      &.title {
        font-size: 4.5em;
        color: #ff992a;
        font-family: 'Happy', sans-serif;
        margin-bottom: 40px;

        @media screen and (max-width: 965px),
        print and (max-width: 965px) {
          font-size: 12vw;
          text-align: center;
        }

        span.outline {
          color: #000;
          -webkit-text-stroke: 0.05em #ff992a;
        }
      }
    }
    .authors {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 100%;

      > div {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 320px;
        .photo {
          width: 200px;
          height: 200px;
          margin: 40px 0;
          background: #fff;
          border-radius: 50%;
          &.alexia {
            background-image: url('../../../assets/images/alexia-savva.jpg');
          }
          &.damien {
            background-image: url('../../../assets/images/damien-jarry.jpg');
          }
        }
        .name {
          font-family: 'Open Sans', sans-serif;
          font-size: 2rem;
          color: #fff;
          span {
            font-weight: 600;
          }
        }
        .job {
          color: #ff9900;
          font-size: 0.9em;
          text-transform: uppercase;
          margin: 0 0 50px;
        }
        .description {
          color: #fff;
          font-size: 1em;
          font-family: "Open Sans", sans-serif;
        }
        .contact {
          a {
            font-size: 2em;
            margin: 0 15px;
          }
        }
      }
    }
  }
}
