<div class="main-container">
  <div class="header">
    <p class="title"><span class="outline">DEV</span>STROKE</p>
  </div>
  <div class="applications">
    <app-search
      [showSuggestion]="false"
      [autoFocus]="true"
      [searchFocus]="true"
      (emitSuggestions)="updateList($event)"
      (resetSearch)="resetList()"></app-search>
    <div class="content" [class.full]="fullList">

      <ng-container *ngIf="tools.length > 0; then showTools; else noTools"></ng-container>

    </div>
    <div *ngIf="listExpendable && !fullList" (click)="expandList()">Voir plus</div>
  </div>
</div>
<div class="authors-container" [ngClass]="environment.webP ? 'web-p' : ''">
  <div class="content">
    <p class="title">WHO ARE <span class="outline">THEY ?</span></p>
  </div>
</div>

<!-- Templates -->
<ng-template #showTools>
  <div class="tools">
    <div class="tool" *ngFor="let tool of tools" (click)="router.navigate(['/tool/' + tool.url]);">
      <div class="icon">Image</div>
      <p class="title">{{ tool.title }}</p>
    </div>
  </div>
</ng-template>

<ng-template #noTools>
  <!-- No tool found :/ -->
</ng-template>
