/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/prismjs/themes/prism.css";
@import "../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css";

pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-word;
}
pre[class*="language-"].line-numbers > code {
  word-break: inherit;
}
.line-numbers .line-numbers-rows {
  top: -3px;
}

@font-face {
  font-family: 'Happy';
  font-display: block;
  src: url('../assets/fonts/Happy-HappyJoyJoy.woff2') format('woff2'),
  url('../assets/fonts/Happy-HappyJoyJoy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: block;
  src: local('Open Sans Regular'),
  local('OpenSans-Regular'),
  url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../assets/fonts/OpenSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  font-display: block;
  src: local('Open Sans Bold'),
  local('OpenSans-Bold'),
  url('../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../assets/fonts/OpenSans-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Indie Flower';
  font-display: block;
  src: local('Indie Flower'),
  local('IndieFlower'),
  url('../assets/fonts/IndieFlower-Regular.woff2') format('woff2'),
  url('../assets/fonts/IndieFlower-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

html, body {
  height: 100%;
  // background: #2a2e31;
  background: #ffffff;
}
