/* You can add global styles to this file, and also import other style files */
@import "~prismjs/themes/prism.css";
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";

pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-word;
}
pre[class*="language-"].line-numbers > code {
  word-break: inherit;
}
.line-numbers .line-numbers-rows {
  top: -3px;
}

@font-face {
  font-family: 'Happy';
  src: url('assets/fonts/Happy-HappyJoyJoy.woff2') format('woff2'),
  url('assets/fonts/Happy-HappyJoyJoy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  background: #2a2e31;
}
