:host {
  flex: 1;
  max-width: 100%;
  display: flex;
}
//.content {
//  .truc {
//    #div {
//      color: #fff;
//      /deep/ {
//        .header {
//          color: magenta;
//        }
//        .payload {
//          color: greenyellow;
//        }
//        .signature {
//          color: cyan;
//        }
//      }
//    }
//  }
//}
